@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  min-height: 100vh;
  background: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.5s;
}

header {
  width: 100%;
  height: 150px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #35359c;
  padding: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  padding: 5px;
}

#logo {
  width: fit-content;
  height: 50px;
}

#user {
  width: 30px;
  height: 30px;
}

.login {
  padding: 4px 10px;
  border-radius: 6px;
  background: orangered;
  color: white;
}
h1 {
  text-align: center;
}
/* Main */
/* .container {
  max-width: 1350px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(rgba(197, 197, 197, 0.1), #9e0a6d);
} */
.main-content {
  flex-basis: 67%;
}
.right-sidebar {
  flex-basis: 30%;
  position: sticky;
  align-self: flex-start;
  padding: 20px;
  border-radius: 4px;
  flex-grow: 1;
  background: linear-gradient(rgba(197, 197, 197, 0.1), #be0a82);
}

.left-sidebar {
  flex-basis: 30%;
  position: sticky;
  align-self: flex-start;
  padding: 20px;
  border-radius: 4px;
  flex-grow: 1;
  background: linear-gradient(rgba(197, 197, 197, 0.1), #be0a82);
}

#right-img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 4px;
  align-self: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#main-img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  padding: 0px 10px;
}

.logform {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  width: 700px;
  height: 500px;
  border-radius: 20px;
  display: none;
  animation: fade-in-top 0.5s ease-in-out forwards;
  background: #1c1c1c;
  align-self: center;
}
@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 300px;
  gap: 0.6rem;
}
input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #212121;
  box-shadow: none;
  width: 100%;
}

input[type="submit"] {
  align-items: right;
  background-color: #6735ae;
  padding: 6px;
  border-radius: 4px;
  border: none;
  outline: invert;
}
label {
  color: #fff;
}

#errorText {
  font-size: 10px;
  color: red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.erro-container {
  display: flex;
  justify-content: center;
  width: 400px;
}
.member,
.newmember {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
}
.member a:hover,
.newmember a:hover {
  color: #6735ae;
}

form {
  z-index: 9999;
}

#tony {
  width: 300px;
  object-fit: cover;
}

#welcome,
#forgot,
p {
  color: #777;
}

.close-button {
  position: fixed;
  top: 10px;
  left: 96%;
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: larger;
  font-weight: 500;
}

@media (max-width: 912px) {
  html,
  body {
    font-size: unset;
  }
  #tony {
    display: none;
  }
  .logform {
    width: fit-content;
    justify-content: space-around;
    padding: 10px 30px 20px;
    height: fit-content;
  }
  .close-button {
    top: 4px;
    left: 93%;
  }
}

@media (max-width: 820px) {
  .logform {
    width: 400px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .logform {
    width: fit-content;
    padding: 10px 30px 20px;
  }
  #tony {
    display: none;
  }
}

@media (min-width: 570px) and (max-width: 768px) {
  .logform {
    width: fit-content;
    padding: 10px 30px 20px;
  }
  #tony {
    display: flex;
  }
}
@media (max-width: 912px) {
  .container {
    display: flex;
    flex-direction: column !important;
  }
}
